<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/building-vision/">Building Vision</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/about/" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="/about/">About Us</a></li>
            <li><a class="dropdown-item" href="/about/history/">History & Denomination</a></li>
            <li><a class="dropdown-item" href="/about/leadership/">Leadership</a></li>
            <li><a class="dropdown-item" href="/about/faq/">FAQ</a></li>
            <li><a class="dropdown-item" href="/about/drinks-with-pastor/">Drinks with the Pastor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/about/contact/">Contact Us</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/convictions/" id="convictionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Convictions
          </a>
          <ul class="dropdown-menu" aria-labelledby="convictionsDropdown">
            <li><a class="dropdown-item" href="/convictions/vision/">The Vision We Share</a></li>
            <li><a class="dropdown-item" href="/convictions/values/">The Values We Pursue</a></li>
            <li><a class="dropdown-item" href="/convictions/mission/">The Mission We Do</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/worship/" id="worshipDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Worship
          </a>
          <ul class="dropdown-menu" aria-labelledby="worshipDropdown">
            <li><a class="dropdown-item" href="/worship/in-person/">In Person</a></li>
            <li><a class="dropdown-item" href="/worship/online/">Online</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/community/" id="communityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Community
          </a>
          <ul class="dropdown-menu" aria-labelledby="communityDropdown">
            <li><a class="dropdown-item" href="/community/groups/">Community Groups</a></li>
            <li><a class="dropdown-item" href="/community/story-circles/">Story Circles</a></li>
            <li><a class="dropdown-item" href="/community/meals/">Community Meals</a></li>
            <li><a class="dropdown-item" href="/community/children-youth/">Children & Youth</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/mission/" id="missionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mission
          </a>
          <ul class="dropdown-menu" aria-labelledby="missionDropdown">
            <li><a class="dropdown-item" href="/mission/">Overview</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/mission/servants-heart/">A Servant's Heart</a></li>
            <li><a class="dropdown-item" href="/mission/alpha-house/">Alpha House</a></li>
            <li><a class="dropdown-item" href="/mission/housing/">Housing Ministry</a></li>
            <li><a class="dropdown-item" href="/mission/elderly/">Elder Care</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/give/">Give</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
